<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artists</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <nav class="navbar">
    <a href="/" class="navbar-brand">Groupie Tracker</a>
    <!-- <div class="navbar-menu">
        <a href="/">About</a>
        <a href="/">Contact</a>
    </div> -->
  </nav>
  <main>
    <div class = "search Container">
      <input type="text" id = "Search-Bar" placeholder="type here">
      <ul id="suggestions"></ul>
    </div>
    <div class="grid-container">
      {{ range . }}
      <div class="card">
        <img src="{{ .ImageURL }}" alt="image">
        <div class="card-content">
          <h2>{{ .Name }}</h2>
          <div class="tooltip">
            <a href="#">Show Details</a>
            <div class="tooltip-content">
              <!-- <span class="close-btn">&times;</span> -->
              <ul>
                <p><b>Members:</b></p>
                {{ range .Members }}
                <li>{{ . }}</li>
                {{ end }}
                <p><b>Creation Date:</b> {{ .CreationDate }}</p>
                <p><b>First Album:</b> {{ .FirstAlbum }}</p>
              </ul>
            </div>
          </div>
          <div class="button-group">
            <button><a href="/locations?id={{ .ID }}" target="_blank">Locations</a></button>
            <button><a href="/dates?id={{ .ID }}" target="_blank">Dates</a></button>
            <button><a href="/relation?id={{ .ID }}" target="_blank">Relation</a></button>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </main>
  <footer>
    &copy; 2023 . All rights reserved. | <a href="/privacy" aria-label="Privacy Policy">Privacy Policy</a> | <a
      href="/term" aria-label="Terms of Service">Terms of Service</a>
    <div class="social-icons">
      <a href="https://facebook.com/" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://youtube.com/" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    </div>
  </footer>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    const searchBar = document.getElementById('Search-Bar')
    const suggestionList = document.getElementById('suggetions')

    searchBar.addEventListener('input', debounce(searchArtists,300))
    function debounce(func, delay){
      let timeoutId 
      return function(...args){
        clearTimeout(timeoutId)
        timeoutId = setTimeout(() => func.apply(this, args), delay)
      }
    }
  })
</script>

</html>