<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Artist.Name }} - Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">Groupie Tracker</a>
        <div class="navbar-menu">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search..." autocomplete="off" id="searchInput">
                <div class="search-icon">
                    <svg viewBox="0 0 24 24">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </div>
                <div class="search-results" id="searchResults">
                    <!-- Results will be dynamically populated -->
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="grid-container"></div>
        <div class="artist-details">
            <div>
                <h1>{{ .Artist.Name }}</h1>
                <img src="{{ .Artist.ImageURL }}" alt="{{ .Artist.Name }} Image">
            </div>
            <div>
                <h2>Members:</h2>
                <ul>
                    {{ range .Artist.Members }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                <p><strong>Creation Date:</strong> {{ .Artist.CreationDate }}</p>
                <p><strong>First Album:</strong> {{ .Artist.FirstAlbum }}</p>
            </div>
        </div>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Performance Dates:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Date" class="accent">
                            {{ range .Dates.Dates }}
                            <p class="dates">{{ . }}</p>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Locations:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Location" class="accent">
                            {{ range .Locations.Locations }}
                            <p class="location">{{ . }}</p>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Relations:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Location" class="accent">
                            {{ range $key, $value := .Relation.DatesLocations }}
                            <div class="artist-grid">
                                <div class="artist-info">
                                    <p class="location">{{ $key }}: {{ range $index, $item := $value }}</p>
                                    <p class="dates">{{ $item }}</p>
                                    {{ end }}
                                </div>
                            </div>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer>
        &copy; 2024 . All rights reserved. | <a href="/privacy" aria-label="Privacy Policy">Privacy Policy</a> | <a
            href="/term" aria-label="Terms of Service">Terms of Service</a>
        <div class="social-icons">
            <a href="https://facebook.com/" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com/" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>
    <script>
        let suggestions = [];
        document.addEventListener('DOMContentLoaded', function () {
          const searchBar = document.getElementById('searchInput');
          const cardContainer = document.querySelector('.grid-container');
          searchBar.addEventListener('keydown', function (event) {
            // when suggestion is one 
            if (event.key === 'Enter' && suggestions.length === 1) {
              const firstSuggestion = suggestions[0];
              window.location.href = `/details?id=${firstSuggestion.id}`;
            }
          });
    
          const suggestionList = document.getElementById('searchResults');
    
          searchBar.addEventListener('input', debounce(searchArtists, 300));
          searchBar.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
              const suggestionIds = suggestions.map(suggestion => suggestion.id);
              fetchAndRenderCards(suggestionIds);
            }
          });
          document.querySelector('.search-icon').addEventListener('click', () => {
            const suggestionIds = suggestions.map(suggestion => suggestion.id);
            fetchAndRenderCards(suggestionIds);
          });
          async function searchArtists() {
            const query = searchBar.value
            if (query.length < 1) {
              suggestionList.innerHTML = ""
              suggestionList.style.display = 'none';
              return
            }
    
    
            try {
              const response = await fetch(`/api/search?q=${encodeURIComponent(query)}`)
              suggestions = await response.json();
    
              // Display results
              if (suggestions.length > 0) {
                // console.log(suggestions) 
                suggestionList.innerHTML = suggestions
                  .slice(0, 10)
                  .map((suggestion) =>
                    `<div class="result-item">
                      <a href="/details?id=${suggestion.id}">${suggestion.text}</a>
                    </div>`
                  )
                  .join('');
                suggestionList.style.display = 'block';
              } else {
                suggestionList.innerHTML = '<div class="result-item">No results found</div>';
                suggestionList.style.display = 'block';
              }
            } catch (error) {
              console.error(error)
            }
          }
    
          async function fetchAndRenderCards(ids) {
            try {
              const idString = ids.join('&ids=');
              const response = await fetch(`/api/artists/filter?ids=${idString}`);
              const artists = await response.json();
    
              cardContainer.innerHTML = '';
              artists.forEach(artist => {
                const card = document.createElement('div');
                card.classList.add('card');
                card.innerHTML = `
                <a href=/details?id=${artist.id}>
                  <img src="${artist.image}" alt="${artist.name}">
                  <h2>${artist.name}</h2>
                </a>
                `;
                cardContainer.appendChild(card);
              });
            } catch (error) {
              console.error("Error fetching artist data:", error);
            }
          }
    
          function debounce(func, delay) {
            let timeoutId
            return function (...args) {
              clearTimeout(timeoutId)
              timeoutId = setTimeout(() => func.apply(this, args), delay)
            }
          }
        })
      </script>
</body>

</html>