<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Artist.Name }} - Details</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="navbar-brand">Groupie Tracker</a>
        <!-- Add more navigation items as needed -->
    </nav>

    <main>
        <div class="artist-details">
            <div>
            <h1>{{ .Artist.Name }}</h1>
            <img src="{{ .Artist.ImageURL }}" alt="{{ .Artist.Name }} Image">
        </div>
        <div>
            <h2>Members:</h2>
            <ul>
                {{ range .Artist.Members }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
            <p><strong>Creation Date:</strong> {{ .Artist.CreationDate }}</p>
            <p><strong>First Album:</strong> {{ .Artist.FirstAlbum }}</p>
        </div>
        </div>

        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Performance Dates:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Date" class="accent">
                            {{ range .Dates.Dates }}
                            <p class="dates">{{ . }}</p>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Locations:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Location" class="accent">
                            {{ range .Locations.Locations }}
                            <p class="location">{{ . }}</p>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Relations:</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Location" class="accent">
                            {{ range $key, $value := .Relation.DatesLocations }}
                            <div class="artist-grid">
                                <div class="artist-info">
                                    <p class="location">{{ $key }}: {{ range $index, $item := $value }}</p>
                                    <p class="dates">{{ $item }}</p>
                                    {{ end }}
                                </div>
                            </div>
                            {{ end }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer>
        &copy; 2023. All rights reserved. | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of
            Service</a>
    </footer>
</body>

</html>